.block-sidebar {
  width: 200px;
  background-color: var(--bg-form-secondary);

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--bg-app);
    }
  }
}