.renderer-wrapper {
  position: relative;
  min-height: 20px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 1;
  min-width: 0;

  outline: 1px dashed transparent;
  outline-offset: -2px;
  transition: outline 0.2s ease;

  &:hover {
    z-index: 100;
    outline: 1px dashed var(--border-color-default);
  }

  &--selected {
    z-index: 101;
  }

  &__delete-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 102;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    height: var(--space-xl);
    padding: 0 var(--space-xs);

    background-color: var(--color-error);
    color: white;

    border: none;
    border-radius: var(--radius-sm) var(--radius-sm) 0 0 ;

    cursor: pointer;
    font-size: var(--font-size-xs);

    opacity: 0;
    animation: fadeIn 0.2s forwards;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
