.heading-block-wrapper {
  width: 100%;
}

.heading-editor-content {
 h1 { font-size: var(--font-size-4xl); } // 48px ~ 3em
h2 { font-size: var(--font-size-3xl); } // 32px ~ 2em  
h3 { font-size: var(--font-size-2xl); } // 24px ~ 1.5em
h4 { font-size: var(--font-size-xl); }  // 20px ~ 1.25em
h5 { font-size: var(--font-size-lg); }  // 18px ~ 1.125em
h6 { font-size: var(--font-size-base); } // 16px ~ 1em
}