.list-block-wrapper {
  .list-editor-content {
    ul {
      list-style-type: disc;
      padding-left: 1.5em;
    }
    ol {
      list-style-type: decimal;
      padding-left: 1.5em;
    }
    li {
      margin-bottom: 0.2em;
    }
    p {
      margin: 0;
    }
  }
}