.numlist-block-wrapper {
  min-width: 60px;
  min-height: 1.5em;
  
  .numlist-editor-content {
    ol {
      list-style-type: decimal;
      padding-left: 1.5em;
    }
    li {
      margin-bottom: 0.2em;
    }
    p {
      margin: 0;
    }
  }
}

