:root {
  --space-xxs: 0.25rem; // 4px
  --space-xs: 0.5rem; // 8px
  --space-sm: 0.75rem; // 12px
  --space-md: 1rem; // 16px
  --space-lg: 1.25rem; // 20px
  --space-xl: 1.5rem; // 24px
  --space-2xl: 2rem; // 32px
  --space-3xl: 3rem; // 48px
  --space-4xl: 4rem; // 64px
}
