@use "@/styles/abstracts/mixins" as mix;

.builder-toolbar {
  @include mix.glass-container;
  width: var(--sidebar-left);
  height: 100%;

  border-radius: var(--radius-xl);
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  &__top,
  &__bottom {
    margin-bottom: 40px;
  }

  &__bottom {
    margin-top: auto;
    margin-bottom: 0;
  }

  &__tools {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    width: 100%;
    align-items: center;
  }

  &__btn {
    width: 48px;
    height: 48px;
    border-radius: var(--radius-md);
    border: 1px solid transparent;
    background: transparent;
    color: var(--text-secondary);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 0.2s ease;

    span {
      font-size: 10px;
    }

    &:hover {
      background: var(--bg-surface);
      color: var(--text-primary);
    }

    &.is-active {
      background: rgba(60, 45, 162, 0.1);
      color: var(--brand-primary-color);
    }
  }
}
