@use "@/styles/abstracts/mixins" as mix;

.properties-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: var(--space-md);
  gap: var(--space-md);
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  h3 {
    font-size: 14px;
    font-weight: 700;
    color: var(--text-secondary);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: var(--space-2xl);
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .panel-group {
    label {
      display: block;
      @include mix.text-small;
      margin-bottom: var(--space-xs);
    }
  }

  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    height: var(--input-height);
    padding: 0 var(--space-sm);

    border: var(--border-width-md) solid var(--border-color-btn);
    border-radius: var(--radius-md);

    font-size: var(--font-size-xs);
    color: var(--text-primary);
    transition: all 0.2s;
    outline: none;

    -webkit-appearance: none;
    margin: 0;

    -moz-appearance: textfield;
    appearance: textfield;

    &:hover {
      border-color: var(--bg-app);
    }

    &:focus-within {
      outline: none;
      border-color: var(--border-color-default);
      background: rgba(255, 255, 255, 0.07);
    }
  }

  select {
    background-color: var(--bg-dark);

    option {
      background-color: var(--bg-pagination);
      color: var(--text-primary);

      &:checked {
        background-color: var(--bg-surface);
        color: var(--text-primary);
      }
    }

    @-moz-document url-prefix() {
      option {
        background-color: var(--bg-dark);
        color: var(--text-primary);
      }

      option:checked {
        background-color: var(--bg-surface);
      }
    }
  }

  input[type="number"] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    appearance: textfield;
    -moz-appearance: textfield;
    background-image: none !important;
  }

  .color-input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    input[type="color"] {
      appearance: none;
      -webkit-appearance: none;
      border: none;
      width: 36px;
      height: 36px;
      border-radius: 8px;
      cursor: pointer;
      background: none;
      padding: 0;

      &::-webkit-color-swatch-wrapper {
        padding: 0;
      }
      &::-webkit-color-swatch {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
      }
    }

    span {
      font-size: 13px;
      color: var(--text-primary);
      font-family: monospace;
    }
  }
}
