@use "@/styles/abstracts/mixins" as mix;

.profile-wrapper {
  @include mix.flex-center;
}

.profile-card {
  @include mix.glass-container;
  @include mix.flex-center;

  margin-top: var(--space-4xl);
  padding: var(--space-4xl);
  max-width: fit-content;
  user-select: none;
  font-weight: 800;
  background-clip: text;
  -webkit-background-clip: text;
  &:hover {
    box-shadow: var(--shadow-lg);
  }

  &__settings-btn {
    position: absolute;
    right: var(--space-md);
    top: var(--space-md);
    :hover {
      cursor: pointer;
    }
  }
  &__settings-icon {
    height: 20px;
    width: 20px;
  }

  &__avatar-root {
    overflow: hidden;
    user-select: none;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--bg-surface);
    margin-right: var(--space-3xl);
    border-style: dotted;
    border-width: var(--border-width-sm);
    border-color: var(--border-color-default);
  }

  &__avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  &__avatar-fallback {
    @include mix.flex-center;
    width: 100%;
    height: 100%;

    color: var(--text-primary);
    font-size: var(--font-size-base);
    line-height: 1;
    font-weight: var(--font-weight-medium);
  }
}

.dialog-email {
  margin-bottom: var(--space-xs);
  &__label {
    font-size: var(--font-size-sm);
    margin-bottom: var(--space-xxs);
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-secondary);
  }
  &__icon:hover {
    cursor: pointer;
  }
}

.dialog-checkbox {
  margin-right: var(--space-md);
  &__label {
    user-select: none;
  }
}
