@use "@/styles/abstracts/variables" as *;

.toggle-theme-button {
  width: calc(var(--space-xl) + var(--space-sm));
  height: calc(var(--space-xl) + var(--space-sm));
  margin-top: var(--space-md);
  margin-right: var(--space-md);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #{rgba($black-text, 0.15)};
  border: var(--border-width-sm) solid var(--border-color-btn);
  border-radius: var(--radius-md);
  color: var(--text-on-primary);

  font-size: var(--font-size-lg);
  cursor: pointer;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  
  transition:
    background 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.1s ease;

  &:hover {
    background: #{rgba($black-text, 0.25)};
    box-shadow: var(--shadow-sm);
    transform: translateY(calc(-1 * var(--border-width-sm)));
  }
}
