:root {
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-xxl: 20px;
  --radius-full: 50%;

  --border-width-sm: 1px;
  --border-width-md: 2px;
  --border-width-xl: 3px;
}
