:root {
  --layout-max-width: 1440px; // Максимальная ширина лейаута
  --header-height: 54px; // Высота шапки
  --input-height: 48px; // Высота инпутов
  --selector-height: 40px; // Высота селекторов
  --button-min-height: 28px;
  --sidebar-left-collapsed: 96px; // Узкая панель инструментов слева
  --sidebar-left-width: 306px; // Панель слоев/виджетов
  --sidebar-right-width: 454px; // Панель свойств (Inspector)
}
