$white: #ffffff;
$white-off: #f3f3f3;
$white-soft: #eff6ff;
$grey-soft: #ece5ff80;
$purple-light: #ece5ff;

$black-text: #151f31;
$dark-surface: #101826;
$light-text: #eff6ff;

$brand-blue-deep: #04031c;
$brand-blue-mid: #1a224c;
$brand-blue-light: #3c2da2;
$brand-purple-border: #04006b;
$brand-purple-light: #786eff;

$accent-blue: #1221c2;
$accent-cyan: #03f3f2;
$accent-pink: #fd4aca;

$error: #f55c5f;
$success: #7ce24a;
