// шрифты
// Poppins Bold
@font-face {
  font-family: "Poppins";
  src:
    url("../assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("../assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Inter Medium
@font-face {
  font-family: "Inter";
  src:
    url("../assets/fonts/Inter_24pt-Medium.woff2") format("woff2"),
    url("../assets/fonts/Inter_24pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Sofia Sans SemiBold
@font-face {
  font-family: "Sofia Sans";
  src:
    url("../assets/fonts/SofiaSans-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/SofiaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Roboto Regular
@font-face {
  font-family: "Roboto";
  src:
    url("../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Переменные
$font-poppins: "Poppins", sans-serif;
$font-inter: "Inter", sans-serif;
$font-sofia: "Sofia Sans", sans-serif;
$font-roboto: "Roboto", sans-serif;

:root {
  --font-family-base: #{$font-inter};
  --font-family-poppins: #{$font-poppins};
  --font-family-sofia: #{$font-sofia};
  --font-family-roboto: #{$font-roboto};
}
