@use "@/styles/abstracts/mixins" as mix;

.ui-button {
  @include mix.btn-base;

  &--primary {
    border: 2px solid var(--brand-primary-color-transparent);
    color: var(--text-tertiary);

     &:hover {
      background: var(--brand-primary-color);
      border-color: var(--brand-primary-color);
      color: var(--text-on-primary);
    }
  }

  &--secondary {
    color: var(--text-secondary);
    border: 2px solid var(--border-color-default-transparent);

    &:hover {
      background: var(--gradient-btn-secondary);
    }
  }

  &--special {
    background: var(--gradient-special);
    color: #fff;
    border: none;
  }

  &--danger {
    background: transparent;
    color: var(--color-error);
    border: 2px solid var(--border-error-soft);
    box-shadow: none;

    &:hover {
      background: var(--color-error);
      border-color: var(--color-error);
      color: #fff;
    }
  }

  &--sm {
    padding: 8px 16px;
    min-height: 32px;
  }
}
