@use "@/styles/abstracts/mixins" as mix;

.auth-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.auth-page__inner {
  padding: var(--space-4xl);

  @include mix.glass-container;
}

.auth-page__title {
  margin-bottom: var(--space-lg);

  text-align: center;

  @include mix.text-h2;
}

.auth-page__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  margin-bottom: var(--space-lg);
}

.container {
  width: 100%;
  max-width: var(--auth-form-width);
  margin: 0 auto;
  padding: 0 var(--space-md);
}

.text-center {
  text-align: center;
}