.builder__container {
  position: relative;
}

.builder__btns {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
} 

.builder__grid {
  position: absolute;
  width: 1200px;
  height: 100vh;
  top: 20;
  left: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 30px);

  .builder__grid-item {
    height: 30px;
    border: 1px solid var(--border-color-default);
    opacity: 0.1;
  }
}