.builder {
  &__content {
    display: flex;
  }

  &__btns {
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  &__grid-container {
    position: relative;
  }

  &__grid {
    position: absolute;
    width: 1200px;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 30px);
  }

  &__grid-item {
    height: 30px;
    border: 1px solid var(--border-color-default);
    opacity: 0.1;
  }

  &__layout {
    button {
      border-radius: var(--radius-lg)
    }
  }

  &__layout-item-wrapper {
    position: relative;
  }
}